body {
    margin: 0;
    background-color: rgb(34, 34, 34);
    font-family: 'Nunito Sans';
    color: rgb(255, 255, 255);
}
*::selection {
    background: black;
    color: #fff;
}
.top-part {
    height: 800px;
    background: url(images/image_1.jpg.webp) no-repeat center;
    background-size: cover;
}
.top-part::before {
    content: "";
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
.navbar__list {
    margin: 0;
    list-style: none;
}
.list {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2.5px;
    margin-left: 35px;
    position: relative;
    top: 50px;
}
.list a  {
    text-decoration: none;
    color: white;
}
.navbar {
    width: 100%;
    text-align: center;
}
.top-header {
    text-align: center;
    position: relative;
    top: 210px;
    white-space: pre-line;
    font-size: 70px;
    font-weight: 200;
    color: rgb(255, 255, 255);
}
.top-header__text {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    position: relative;
    top: 170px;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.5);
}
.contanier-1 {
    text-align: center;
}
.contanier-1__header {
    text-align: center;
    font-weight: 200;
    font-size: 30px;
    margin-top: 100px;
}
.contanier-1__list {
    list-style: none;
    margin: 0;
}
.contanier-1__list a {
    font-size: 15px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    margin-left: 40px;
    position: relative;
    right: 30px;
}
.contanier-1__list a:hover {
    color: #b2c251;
}
.contanier-1__link {
    display: inline-block;
    margin-top: 20px;
}
.contanier-1__images {
    width: 27%;
    margin-top: 50px;
    padding: 20px;
}
.contanier__subtittles {
    display: inline-block;
    width: 32%;
    text-align: center;
}
.contanier__subtittles h4 {
    text-align: center;
    font-size: 21px;
    margin: 0;
}
.first-subtittle {
    position: relative;
    bottom: 10px;
    left: 30px;
    font-weight: 200;
}
.second-subtittle {
    position: relative;
    bottom: 10px;
    font-weight: 200;
}
.third-subtittle {
    position: relative;
    right: 15px;
    bottom: 10px;
    font-weight: 200;
}
.font-size {
    font-size: 13px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}
.center-part__header {
    font-weight: 200;
    font-size: 32px;
    text-align: center;
}
.boxs {
    display: inline-block;
    width: 500px;
    height: 200px;
    border: 4px solid transparent;
    border-radius: 7px;
    background-color: #333 ;
    padding: 20px;
}
.box-headers {
    display: inline-block;
    width: 47%;
    position: relative;
    left: 50px;
    font-weight: 200;
}
.first-box-header {
    width: 580px;
    padding-left: 20px;
    left: 60px;
}
.center-part__box-1 {
    margin-left: 70px;
}
.center-part__box-2 {
    margin-left: 20px;
}
.center-part__box-3 {
    margin-left: 70px;
    margin-top: 20px;
}
.center-part__box-4 {
    margin-left: 20px;
    margin-top: 20px;
}
.center-part__box-5 {
    margin-left: 70px;
    margin-top: 20px;
}
.center-part__box-6 {
    margin-left: 20px;
    margin-top: 20px;
}
.center-part__box-7 {
    margin-left: 70px;
    margin-top: 20px;
}
.center-part__box-8 {
    margin-left: 20px;
    margin-top: 20px;
}
.box__tittle {
    font-size: 13px;
}
.box__text {
    font-size: 22px;
    color: #b2c251;
    font-weight: 200;
    margin-bottom: 5px;
}
.box__paragraf {
    font-size: 18px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 0;
}
.box__finish {
    display: inline-block;
    margin-top: 7px;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 300;
}
.aboutMe-part {
    display: flex;
}
.aboutMe__header {
    font-size: 32px;
    font-weight: 200;
}
.aboutMe__image {
    width: 600px;
    margin-left: 75px;
}
.aboutMe__text {
    padding: 0 15px 0 96px;
}
.aboutMe__paragraf {
    white-space: pre-line;
    font-size: 20px;
    font-weight: 200;
    color:rgba(255, 255, 255, 0.4);
    letter-spacing: 1px;
}
#paragraf-2 {
    font-weight: 300;
}
.aboutMe__button {
    display: inline-block;
    margin-top: 35px;
    background-color: #bac964;
    border-radius: 100px;
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
    text-decoration: none;
    color: #fff;
}
.aboutMe__button-2{
    background-color: #6c757d;
    margin-left: 2px;
    color: #fff;
    transition: 0.4s;
}
.aboutMe__button-2:hover {
    color: #fff;
    background-color: rgba(130, 138, 148, 0.5);
}
.client-testimonial-part__header {
    text-align: center;
    font-weight: 200;
    font-size: 32px;
    padding-bottom: 60px;
}
.client-testimonial__col-1, .client-testimonial__col-2 {
    display: flex;
    justify-content: space-around;
}
.client-testimonial__col-2 {
    margin-top: 60px;
}
.client-testimonial__box-image-1, .client-testimonial__box-image-2, .client-testimonial__box-image-3, .client-testimonial__box-image-4 {
    height: 50px;
}
.client-testimonial__box-image-1, .client-testimonial__box-image-3 {
    position: relative;
    left: 10px;
}
.box-image__1, .box-image__2, .box-image__3, .box-image__4 {
    width: 50px;
    border-radius: 100px;
}
.client-testimonial__box-1, .client-testimonial__box-2, .client-testimonial__box-3, .client-testimonial__box-4 {
    width: 400px;
    height: 160px;
    background: #333;
    border-radius: 7px;
    padding: 30px;
    box-shadow: 0 2px 30px -2px rgb(0 0 0 / 10%);
}
.client-testimonial__box-2, .client-testimonial__box-4 {
    position: relative;
    right: 30px;
}
.client-testimonial__box-1, .client-testimonial__box-3 {
    position: relative;
    right: 25px;
}
.client-testimonial__box-__paragraf {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 200;
    line-height: 1.8;
}
.client-testimonial__box-__paragraf2 {
    color: #666666;
    font-size: 14px;
    font-style: italic;
}
.client-testimonial__box-__paragraf2 a {
    color: #bac964;
    font-style: italic;
    text-decoration: none;
    
}
.client-testimonial__box-__paragraf::before{
    content: "";
    position: absolute;
    top: 30px;
    left: -14px;
    border-style: solid;
    border-width: 20px 0px 45px 20px ;
    border-color: #333 transparent transparent ;
}
.myServices-part-header {
    text-align: center;
    font-weight: 200;
    font-size: 30px;
}
.myServices-part {
    margin-top: 55px;
}
.myServices-part__container {
    display: flex;
    justify-content: center;
}
.myServices-part__container__box {
    width: 350px;
    height: 450px;
    background: #333;
    text-align: center;
    padding: 30px;
    margin: 0 30px 40px 0 ;
    box-sizing: border-box;
    position: relative;
    left: 10px;
}
.box-center {
    height: 430px;
}
.icon {
    margin-top: 5px;
    font-size: 100px;
    background: #bac964;
    display: block;
    width: 100px;
    color: #080b0e;
    padding: 20px 0;
    border-radius: 100px;
}
.icon-arrow {
    font-size: 13px;
    margin-left: 5px;
    color: #bac964;
}
.myServices-part__container__box__link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #bac964;
    transition: 0.5s;
}
.myServices-part__container__box__link:hover {
    padding-right: 20px;
}
.myServices-part__container__box1__header,.myServices-part__container__box2__header, .myServices-part__container__box3__header {
    font-size: 20px;
    font-weight: 200;
}
.myServices-part__container__box1__paragraf, .myServices-part__container__box2__paragraf, .myServices-part__container__box3__paragraf {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}
.box__icons {
    font-size: 40px;
    background-color: #bac964;
    width: 90px;
    height: 65px;
    border-radius: 100px;
    padding-top: 20px;
    color: rgb(51, 51, 51);
}
.blog-on-meduim__header {
    text-align: center;
    margin-top: 170px;
    margin-bottom: 80px;
    font-size: 30px;
    font-weight: 200;
}
.blog-on-medium__images {
    width: 360px;
    position: relative;
    left: 40px;
    margin-left: 25px;
}
.blog-on-medium__container2__box1, .blog-on-medium__container2__box2, .blog-on-medium__container2__box3 {
    width: 360px;
    display: inline-block;
    background-color: #333;
    position: relative;
    left: 65px;
    bottom: 6px;
    box-sizing: border-box;
    padding: 30px;
    height: 260px;
}
.blog-on-medium__container2__box2 {
    left: 90px;
}
.blog-on-medium__container2__box3 {
    left: 115px;
}
.blog-on-medium__container2__box1__header, .blog-on-medium__container2__box2__header, .blog-on-medium__container2__box3__header {
    margin: 0;
}
.blog-on-medium__container2__box1__header a, .blog-on-medium__container2__box2__header a, .blog-on-medium__container2__box3__header a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    transition: 0.4s;
}
.blog-on-medium__container2__box1__header a:hover, .blog-on-medium__container2__box2__header a:hover, .blog-on-medium__container2__box3__header a:hover {
    color: #bac964;
}
.blog-on-medium__container2__box1__paragraf,.blog-on-medium__container2__box2__paragraf, .blog-on-medium__container2__box3__paragraf{
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 300;
}
.blog-on-medium__container2__box1__link, .blog-on-medium__container2__box3__link, .blog-on-medium__container2__box3__link {
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    font-weight: 300;
    transition: 0.3s;
}
.blog-on-medium__container2__box1__link:hover, .blog-on-medium__container2__box3__link:hover,.blog-on-medium__container2__box3__link:hover {
    color: #bac964;
}
.margin-right {
    margin-right: 12px;
}
.icon-color {
    color: rgba(255, 255, 255, 0.4);
    transition: 0.3s;
}
.icon-color:hover {
    color: #bac964;
    cursor: pointer;
}
.get-in-touch-header {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 80px;
}
.get-in-touch-part__header {
    font-size: 28px;
    font-weight: 200;
    display: inline-block;
    position: relative;
    left: 80px;
    margin-bottom: 50px;
}
.get-in-touch-part__container1 {
    width: 70%;
    display: inline-block;
}
.get-in-touch-part__container1__header {
    display: inline-block;

}
.name-input, .email-input, .number-input {
    display: block;
}
#name-input, #email-input, #number-input, #textareaInput {
    width: 620px;
    height: 47px;
    background-color: rgb(51, 51, 51);
    border: 1px solid rgb(51, 51, 51);
    border-radius: 5px;
    position: relative;
    left: 80px;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 16px;
    padding-left: 15px;
}
#textareaInput {
    height: 288px;
}
.get-in-touch-part {
    display: flex;
}
.get-in-touch-part__container2__header {
    font-size: 28px;
    font-weight: 200;
    position: relative;
    top: 8px;
    right: 100px;
}
.get-in-touch-part__container2__list {
    list-style: none;
    white-space: pre-line;
    position: relative;
    right: 130px;
}
.get-in-touch-part__container2__list span {
    color: #2c3e50;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    bottom: 10px;
}
.container2-lists {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 300;
}
.container2__btn {
    display: inline-block;
    margin-top: 35px;
    background-color: #bac964;
    border-radius: 100px;
    padding: 20px 30px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 160px;
    position: relative;
    left: 80px;
    bottom: 15px;
}
.footer-part__paragraf {
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 300;
}
.footer-part__paragraf a {
    text-decoration: none;
}
.footer-part__icon {
    text-align: center;
}
.footer-part__icons {
    position: relative;
    right: 30px;
    font-size: 22px;
    margin-left: 20px;
    margin-top: 30px;
    color: #bac964;
    width: 60px;
    height: 43px;
    border-radius: 110px;
    padding-top: 17px;
    margin-bottom: 100px;
    background-color: rgb(51, 51, 51);
}